:root {
  --color-background: #1c1b19;
  --color-on-background: #e6e2de;
  --color-surface: #272623;
  --color-on-surface: #e6e2de;
  --color-primary: #d0c79d;
  --color-on-primary: #363112;
  --color-secondary: #cbc6b9;
  --color-on-secondary: #333027;
  --color-tertiary: #bec9c0;
  --color-on-tertiary: #29332c;

  --mobile-width: 991px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: var(--color-on-background);
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Desktop */
@media (max-width: 110em) {
  .flex {
    display: flex;
    flex-direction: row;
  }
  main > * + * {
    margin: 0 0 0 8px;
  }
}

/* Mobile */
@media (max-width: 80em) {
  .flex {
    display: flex;
    flex-direction: column;
  }
  main > * + * {
    margin: 8px 0 0 0;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

body {
  background-color: var(--color-background);
}

button {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

button > * {
  color: var(--color-on-primary);
}
button > span {
  font-weight: bold;
}

input,
button {
  font-size: 16px;
}

input {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.head_bar {
  border-radius: 0 0 8px 8px;
  font-size: 2em;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

main {
  padding: 16px;
}

.container-input {
  background-color: var(--color-surface);
}

.container-result {
  background-color: var(--color-surface);
  width: 100%;
}

.card {
  border-radius: 8px;
}

.input_section {
  padding: 16px;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.book_shelf {
  padding: 16px;
  border-radius: 10px;
  width: 100%;
}

.book_shelf > .book_list {
  padding: 16px;
  flex-wrap: wrap;
  flex-basis: 0.5;
}

.book_shelf > .book_list > .book_item {
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 5px;
  margin: 8px;
}

.book_item {
  flex-grow: 1;
}
.book_item > * {
  color: var(--color-on-primary);
}

.book_shelf > .book_list > .book_item > * + * {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > * + * {
  margin-top: 8px;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}
